* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
}

.card {
  border: 1px black dotted;
  margin-top: 1rem;
}

.card img {
  width: 100%;
  display: block;
}

.card h2 {
  background: #fff;
  padding: 5px;
}

.row {
  display: block;
}

h2 {
  text-align: center;
}

/* Auf dem kleinen Bildschirm steht die überschrift Mittig
aber auf dem größem Bildschirm (ab 1200px) steht sie Linksbund */

/* Umbruchtpunkt media qery */

@media (min-width: 1200px) {
  body {
    background: red;
  }
  h2 {
    font-size: 36px;
    text-align: left;
  }

  .row {
    display: flex;
  }
}

/* Wenn Bildschirm mindestens 1200px */
